ERG.CGmap_aggregated.tsv
ERG.CGmap_aggregated.tsv.gz
NE.CGmap_aggregated.tsv
NE.CGmap_aggregated.tsv.gz
hawkins_NR_merged_reps_CGmap_aggregated.tsv
hawkins_NR_merged_reps_CGmap_aggregated.tsv.gz
xie_NPC_merged_reps_CGmap_aggregated.tsv
xie_NPC_merged_reps_CGmap_aggregated.tsv.gz
